* {
    margin: 0;
    padding: 0;
}
.main_div {
    height: 400px;
    background-color: #fcdd15;
}

.team {
    width: 150px;
    height: 300px;
    margin:0 auto;
    padding-top: 170px;
    opacity: 98%;
}

.contain {
    background-color: white;
    min-height: 490px;
}

.txt {
    font-size: 60px;
    font-weight: bold;
}

.hrh {
    height: 3px;
    background-color: black;
}

.span_txt {
    width: 400px;
    font-size: 3.7rem;
    margin: 0 auto;
    margin-top: 100px;
}

.have{
   min-height: 490px;
 
}

.col_div {
    background: linear-gradient(180deg,
        white 0%,
        white 30%,
        #fcdd15 30%,
        #fcdd15 60%,
        #f5f5f0 60%);
    width: 100%;
    
}

.div_col_div {
    height: 490px;
    width: 300px;
    margin: 0 auto;
    background-color: #f5f5f0;
    margin-top: 10px;
}

.photo {
    width: 100%;
    height: 330px;
}

.social {
    margin-top: 13px;
    width: 100%;
    height: 50px;
}

.name {
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.icon {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;
}

.txt_center {
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.txt_center:hover>.line {
    width: 50%;
    transition: 0.3s;
}

.line {
    transition: 0.5s;
    width: 30%;
    height: 5px;
    background-color: #fcdd15;
    margin: 5px auto;
}

.img_icon {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 15px;
}

.one_col_div {
    height: 490px;
    min-width: 300px;
    max-width: 330px;
    width: 21%;
    min-width: 300px;
    margin: 0 auto;
    background-color: #f5f5f0;
}
