<div class="container-fluid main_div">
    <div class="team">
        <span class="txt">Team</span>
        <hr class="hrh">
    </div>
</div>

<div class="span_txt">CREPIXA TEAM</div>

<div class="contain">
    <div class="row have">
        <div class="col col_div">
            <div class="div_col_div">
                <div class="photo">
                    <img src="" style="width: 100%; height: 100%;">
                </div>
                <div style="width: 100%; text-align: center; background-color: red; font-size: 20px;">
                    GHADA RAMADAN
                </div>
                <div style="background-color: orange; width: 100%; text-align: center;">
                    Marketing Head
                    <hr style="width: 100%; height: 5px; background-color: brown;">
                </div>

                <div class="social">
                    lslam kaskn akspnx masnc samxn m ksnox kosnac knc asopxcn knckonba ckonsoa 
                </div>

            </div>
        </div>

        <div class="col col_div">
            <div class="div_col_div">

            </div>
        </div>

        <div class="col col_div">

            <div class="div_col_div">

            </div>

        </div>
    </div>
</div>

<div class="contain" style="margin-top: 25px;">
    <div class="row have">
        <div class="col col_div">
            <div class="div_col_div">
                <div class="photo">

                </div>
            </div>
        </div>

        <div class="col col_div">
            <div class="div_col_div">

            </div>
        </div>

        <div class="col col_div">

            <div class="div_col_div">

            </div>

        </div>
    </div>
</div>