<div class="row main_div">
    <div class="col-lg-3 col-md-6 col-sm-12 logo_div">
        <div class="logo_div">
            <div class="img_container">
                <img [src] = footerlogo class="img_box">
                <span class="font_size">© 2020 Crepixa Studio. All Rights Reserved</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 address_c">
        <table class="address">
            <tr>
                <td class="text-white ">
                    Munich - Germany
                </td>
            </tr>
            <tr>
                <td class="text-white">
                    Cairo Branch - JizahKing ALfaisal St.
                </td>
            </tr>
            <tr>
                <td class="text-warning txt-yellow">
                    +20 10 62 91 56 12
                </td>
            </tr>
            <tr>
                <td class="text-warning txt-yellow">
                    service@crepixa.com
                </td>
            </tr>
        </table>
    </div>
    <div class="col-lg-6 d-md-12 col-sm-12 ddlinkes">
        <div class="linkes">
            <ul>
                <li><a href="#" class="lnk">HOME</a></li>
                <li><a href="#" class="lnk">ABOUT US</a></li>
                <li><a href="#" class="lnk">PORTOFOLIO</a></li>
                <li><a href="#" class="lnk">TEAM</a></li>
                <li><a href="#" class="lnk">CONTACT</a></li>
                <li><a href="#" class="txt-yellow">SUBSCRIBE</a></li>
            </ul>  
        </div>
    </div>
</div>

<app-footer></app-footer>