<app-nav-bar-team></app-nav-bar-team>
<app-questionaire-header></app-questionaire-header>

<div style="width: 100%; height: 500px; background-color: white;">

    <div>
        Choose Your Desired Service:
    </div>

    

 <form action="#">
    <div class="switch"  style="width: 50px; height: 50px;">
      <input id="switch-1" type="checkbox" class="switch-input"  style="width: 50px; height: 50px;"/>
      <label for="switch-1" class="switch-label" style="width: 50px; height: 50px;">Switch</label>
    </div>
  </form>
  
  

</div>
<app-contact></app-contact>