<app-nav-bar-team></app-nav-bar-team>
<app-questionaire-header></app-questionaire-header>

<div style="width: 100%; min-height: 500px; background-color: white;">

    <div class="wdth">
        <span class="deser">Choose your desired sevrice :</span>
    </div>

    <div class="row wdth">
        <div class="col-lg-3" *ngFor= "let x of xs">
            <div class="switch_btn">
                <div class='toggle' id='switch' (click)="change_state($event, x)">
                    <div class='glow-comp'></div>
                    <div class='toggle-button'></div>
                </div>
                <div style="margin-left: 55px; font-weight: bold;">
                  {{ x }}
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid wdth">
        <div class="deser">
            Choose your Branding sevrice :
        </div>

        <div class="row">
            <div class="col-lg-3" *ngFor= "let x of branding">
                <div class="switch_btn">
                    <div class='toggle' id='switch'>
                        <div class='glow-comp'></div>
                        <div class='toggle-button'></div>
                    </div>
                    <div style="margin-left: 55px; font-weight: bold;">
                      {{ x }}
                    </div>
                </div>
            </div>
        </div>

        <div class="question">
           <div *ngFor = "let i of Question" style="margin-top: 20px;">
               <div style="margin-bottom: 5px;">{{i}}</div>
               <input type="text" class="form-control">
           </div>
        </div>

        <div class="container-fluid">
            <div class="txt_img">
                Which of the following styles do you prefer?
            </div>
            <div class="row">
                <div class="col-lg-4" *ngFor = "let x of lst">
                    <div class="img_box">
                        <span class="text_test">
                            Image
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="deser">
                Which of the following styles do you prefer?
            </div>
            <div class="row">
                <div class="col-lg-4" *ngFor = "let x of lst">
                    <div class="font_pre">
                        <div class="font_text">
                            FONT PREVIEW
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="deser">
                Which of the following styles do you prefer?
            </div>
            <div style = "width: 100%;">
                <textarea class="form-control" style="min-height: 450px; margin-bottom: 40px;" ></textarea>
            </div>
        </div>

        <div class="container-fluid">
            <span class="attach">
                You can attach any files that you want us to look at when working on your request ( samples ,
                mood borads , logos , documents , content and any thing will help us get your request done )
            </span>
            <div class="button-wrapper">
                <span class="label">
                    <i class="fa fa-upload" aria-hidden="true" ></i>
                    Upload Image
                </span>
                
                    <input type="file" name="upload" id="upload" class="upload-box" multiple placeholder="Upload File">
                
                </div>
        </div>

        <div class="container-fluid">
            <span class="thank">
                Thank you for taking the time to complete this questionnaire.
            </span>
            <div class="BuildBrand">
                <div class="BrandText">
                    SUBMIT REQUEST
                </div>
                <div class="BrandTriangle">
                </div>
            </div>
        </div>

    </div>

</div>



<app-contact></app-contact>