<app-nav-bar-team></app-nav-bar-team>
<app-questionaire-header></app-questionaire-header>

<div style="width: 100%; min-height: 500px; background-color: white;">

    <div>
        Choose Your Desired Service:
    </div>

    <div class="row">
        <div class="col-lg-3" *ngFor= "let x of xs">
            <div class="switch_btn">
                <div class='toggle' id='switch' (click)="printlog(x)">
                    <div class='glow-comp'></div>
                    <div class='toggle-button'></div>
                </div>
                <div style="margin-left: 55px; font-weight: bold;">
                  {{ x }}
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div>
            Choose your Branding sevrice :
        </div>

        <div class="row">
            <div class="col-lg-3" *ngFor= "let x of branding">
                <div class="switch_btn">
                    <div class='toggle' id='switch' (click)="printlog(x)">
                        <div class='glow-comp'></div>
                        <div class='toggle-button'></div>
                    </div>
                    <div style="margin-left: 55px; font-weight: bold;">
                      {{ x }}
                    </div>
                </div>
            </div>
        </div>

        <div class="question">
           <div *ngFor = "let i of Question" style="margin-top: 20px;">
               <div style="margin-bottom: 5px;">{{i}}</div>
               <input type="text" class="form-control">
           </div>
        </div>

        <div class="container-fluid">
            <div style="width: 68%; margin: 0 auto;">
                <div class="row">
                    <div class="col-lg-4" *ngFor = "let x of lst">
                        <div style = "width: 275px; height: 234px; margin: 10px auto; background-color: #bbbdbf;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">

        </div>
    </div>

</div>



<app-contact></app-contact>