html{
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
}

.switch_btn {
    margin-left: 50px;
    margin-top: 10px;
}

body{
    height: 100%;
    background-color: #141219;
    font-family: 'base-regular';
}

.wdth {
    width: 1000px;
    margin: 0 auto;
    margin-top: 10px;
}

.deser {
    font-size: x-large;
    font-weight: bold;
    margin: 20px 0px;
    margin-left: 50px;
}

#switch{
    width: 45px;
    height: 25px;
    cursor: pointer;
}

.black {
    transition: 0.5s;
    background-color: black;
}

.font_pre {
    width: 310px;
    height: 234px;
    margin: 10px auto;
    background-color: #bbbdbf;
}

.font_text {
    width: 100px;
    margin: 0px auto;
    padding-top: 100px;
    font-weight: bold;
}

.attach {
    font-size: large;
    font-weight: bold;
    display: block;
    margin: 20px auto; 
}

.toggle{
    position: absolute;
    border: 2px solid #bbbdbf;
    border-radius: 0px;
    -webkit-transition: border-color .6s  ease-out;
    transition: border-color .6s  ease-out;
    box-sizing: border-box;
}

.toggle.toggle-on{
    border-color: black;
    -webkit-transition: all .5s .15s ease-out;
    transition: all .5s .15s ease-out;
}

.toggle-button{
    position: absolute;
    top: 2px;
    width: 16px;
    bottom: 2px;
    right: 23px;
    background-color: #bbbdbf;
    border-radius: 0px; 
    cursor: pointer;
    -webkit-transition: all .3s .1s, width .1s, top .1s, bottom .1s;
    transition: all .3s .1s, width .1s, top .1s, bottom .1s;
}

.toggle-on .toggle-button{
    position: absolute;
    top: 2px;
    width: 16px;
    bottom: 3px;
    right: 2px;
    background-color: #fcdd15;
    border-radius: 0px;
    cursor: pointer;
    -webkit-transition: all .3s .1s, width .1s, top .1s, bottom .1s;
    transition: all .3s .1s, width .1s, top .1s, bottom .1s;
}


/*--------------------- End Switch -------------------*/
.question {
    padding: 30px;
    width: 100%;
    min-height: 300px;
    margin: 20px auto;
    border-style: solid;
    border-width: 1px;
    border-color: #bbbdbf;
}

.img_box {
    width: 310px;
    height: 234px;
    margin: 10px auto;
    background-color: #bbbdbf;
}

.txt_img {
    font-size: large;
    font-weight: bold;
    margin-left: 50px;
    margin-bottom: 50px;
}

.text_test {
    display: block;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: large;
    font-weight: bold;
    line-height: 234px;
}

.button-wrapper {
  position: relative;
  width: 150px;
  text-align: center;
  margin: 0 auto;
}

.button-wrapper span.label {
  position: relative;
  z-index: 0;
  display: inline-block;
  width: 100%;
  background: white;
  cursor: pointer;
  color: #fff;
  padding: 10px 0;
  text-transform:uppercase;
  font-size:16px;
  color: black;
  border: solid 4px #fcdd15;
}

#upload {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.BuildBrand {
    background-color: black;
    color: white;
    text-align: center;
    width: 400px;
    height: 80px;
    margin: 0 auto;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 1px;
    margin-bottom: 40px;
}

.BrandText {
    line-height: 80px;
    font-size: 40px;
    font-weight: bold;
}

.BrandTriangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 130px 30px 0;
    border-color: transparent #fcdd15 transparent transparent;
}

.thank {
    display: block;
    text-align: center;
    padding-top: 50px;
    font-weight: bold;
    opacity: 95%;
}