<div class="container-fluid">
    <div class="row">
        <div class="BrandBox col-xl-6 col-lg-7 col-sm-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
                <a class="navbar-brand" href="#">Crepixa</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#">
                        <span class="WhiteColor">HOME</span> 
                        <span class="sr-only">(current)</span>
                    </a>
                    <a class="nav-item nav-link" href="#">
                        <span class="WhiteColor">ABOUT US</span> 
                    </a>
                    <a class="nav-item nav-link" href="#">
                        <span class="WhiteColor">PORTOFOLIO</span> 
                    </a>
                    <a class="nav-item nav-link" href="#">
                        <span class="WhiteColor">TEAM</span> 
                    </a>
                    <a class="nav-item nav-link" href="#">
                        <span class="WhiteColor Shawodoe">CONTACT</span>
                    </a>
                    <a class="nav-item nav-link" href="#">
                        <span class="BlackColor">SUBSCRIBE</span>
                        
                    </a>
                  </div>
                </div>
            </nav>
            <div class="PixelsTalk">
                WE <br>
                MAKE <br>
                PIXELS <br>
                TALK <br>
            </div>
            <div class="BuildBrand">
                <div class="BrandText">
                    BUILD YOUR BRAND
                </div>
                <div class="BrandTriangle">
                </div>
            </div>
        </div>


        <div class="BrandBox col-xl-6 col-lg-5 col-sm-12" style="position: relative;">

            <ngb-carousel *ngIf="images.length > 0">
                <ng-template ngbSlide *ngFor="let image of images">
                    <div class="picsum-img-wrapper">
                      <img [src]="image" class = "ItemCursol" >
                    </div>
                    <div class="carousel-caption">
                      <h3>Second slide label</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </ng-template>
              </ngb-carousel>
        </div>
</div>

<div class="row">
    <div class="col-lg-6 col-sm-12 heading">
        <div class="second_sec">
            <span class="name_sec">MAZEN ALSAWAF</span> <br>
            <span class="name_sec des_sec">YOUTEBER AND CONTENT MAKER</span>
        </div>
        <div class="second_sec">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat nemo non aut veritatis dolores voluptatem vel totam. Quia, blanditiis ipsam magni, voluptas vitae suscipit eius numquam vel impedit dignissimos aspernatur. 
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo accusantium eum pariatur sequi! Odit quos rerum quaerat tempora eligendi et delectus laudantium non animi, voluptate voluptas quae odio aliquam aperiam.  
        </div>
    </div>
    <div class="col-lg-6 col-sm-12 heading">
        <div class="second_sec div_img_sec">
            <img src="https://picsum.photos/id/944/900/500" class="img_sec">
        </div>
    </div>
</div>

<!--Anther Division-->
<div id="carouselExampleControls" class="carousel slide row" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <div class="row">
            <div class="col-2 text-center" *ngFor="let x of done(0)" style="background-color: yellow; height: 100px; line-height: 100px;">
                {{x}}
            </div>
          </div>
      </div>

      <div class="carousel-item" *ngFor = "let i of elements">
        <div class="row">
          <div class="col-2 text-center" *ngFor="let j of done(i)" style="background-color: yellow; height: 100px; line-height: 100px;">
              {{j}}
          </div>
        </div>
    </div>
    </div>
    <a class="carousel-control-prev right" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next right" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!--Anthor Div-->
  <div class="row pr">
      <div class="col-md-4 col-sm-12 img_block">
          <div class="row left_st">
              <div class="col-2">
                  <div style="background-color: yellow; width: 45px; height: 45px;">

                  </div>
              </div>
              <div class="col-10">
                 <span style="color: white;">Arabian Restaurant</span>
                 <p style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, mollitia autem! Tenetur rem maiores fuga nobis molestias tempore porro, molestiae iure ratione, vero iusto blanditiis optio, unde impedit quibusdam earum. | limitTo: 20</p>
              </div>
          </div>
      </div>
      <div class="col-md-4 col-sm-12 img_block">
        <div class="row left_st">
            <div class="col-2">
                <div style="background-color: yellow; width: 45px; height: 45px;">

                </div>
            </div>
            <div class="col-10">
               <span style="color: white;">Arabian Restaurant</span>
               <p style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, mollitia autem! Tenetur rem maiores fuga nobis molestias tempore porro, molestiae iure ratione, vero iusto blanditiis optio, unde impedit quibusdam earum. | limitTo: 20</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 img_block">
        <div class="row left_st">
            <div class="col-2">
                <div style="background-color: yellow; width: 45px; height: 45px;">

                </div>
            </div>
            <div class="col-10">
               <span style="color: white;">Arabian Restaurant</span>
               <p style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, mollitia autem! Tenetur rem maiores fuga nobis molestias tempore porro, molestiae iure ratione, vero iusto blanditiis optio, unde impedit quibusdam earum. | limitTo: 20</p>
            </div>
        </div>
    </div>
  </div>

  <div class="row pr">
    <div class="col-md-4 col-sm-12 img_block">
        <div class="row left_st">
            <div class="col-2">
                <div style="background-color: yellow; width: 45px; height: 45px;">

                </div>
            </div>
            <div class="col-10">
               <span style="color: white;">Arabian Restaurant</span>
               <p style="color: white;">Lorem ipsum dolor sit</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 img_block">
        <div class="row left_st">
            <div class="col-2">
                <div style="background-color: yellow; width: 45px; height: 45px;">

                </div>
            </div>
            <div class="col-10">
               <span style="color: white;">Arabian Restaurant</span>
               <p style="color: white;">Lorem ipsum dolor sit </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 img_block">
        <div class="row left_st">
            <div class="col-2">
                <div style="background-color: yellow; width: 45px; height: 45px;">

                </div>
            </div>
            <div class="col-10">
               <span style="color: white;">Arabian Restaurant</span>
               <p style="color: white;">testing testing testing testing</p>
            </div>
        </div>
    </div>
</div>

<!--Anther divion-->

<div class="services">
    <div class="row">
        <div class="col" style="background-color: red">
            <div class="service_block">
                 Test
            </div>
         </div>
         <div class="col" style="background-color: red">
             <div class="service_block">
                 Test
            </div>
         </div>
         <div class="col text-center" style="background-color: red">
             <div class="service_block">
                 <div class="service_img_div">
                    <img src="#" class="service_img">
                 </div>
                 <span>klsmcdns  kldsn</span>
            </div>
         </div>
    </div>
</div>

<div class="services4">
    <div class="row">
        <div class="col" style="background-color: red">
            <div class="service_block">
                 Test
            </div>
         </div>
         <div class="col" style="background-color: red">
             <div class="service_block">
                 Test
            </div>
         </div>
         <div class="col text-center" style="background-color: red">
             <div class="service_block">
                 <div class="service_img_div">
                    <img src="#" class="service_img">
                 </div>
                 <span>klsmcdns  kldsn</span>
            </div>
         </div>
         <div class="col text-center" style="background-color: red">
            <div class="service_block">
                <div class="service_img_div">
                   <img src="#" class="service_img">
                </div>
                <span>klsmcdns  kldsn</span>
           </div>
        </div>
    </div>
</div>

<!--Div Build Your App-->
<div class="row build_brand">
    <div class="col col_brand">
        <div class="BuildBrandBig">
            <div class="BrandTextBig">
                BUILD YOUR BRAND
            </div>
            <div class="BrandTriangleBig">
            </div>
        </div>
        <div class="make_pixel">
            Let us make the pixels talk for you!
        </div>
        <div class="make_pixel line_w">
            <hr class="line_style">
        </div>

        <div style="z-index: 10; position: absolute; right: 20px; bottom: 20px;">
            <a (click) = "upd()" class="btn btn-primary">^</a>
        </div>
    </div>
</div>


<!--Div Build Your App-->

<div class="row footer">
    <div class="col-lg-3 col-md-6 col-sm-12 bg_color">
        <div class="footer_logo">
            Logo
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 bg_color">
        <table style=" margin: 60px auto;">
            <tr>
                <td class="text-white">
                    Munich - Germany
                </td>
            </tr>
            <tr>
                <td class="text-white">
                    Cairo Branch - JizahKing ALfaisal St.
                </td>
            </tr>
            <tr>
                <td class="text-warning">
                    +20 10 62 91 56 12
                </td>
            </tr>
            <tr>
                <td class="text-warning">
                    service@crepixa.com
                </td>
            </tr>
        </table>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 bg_color">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
          </ul>          
    </div>
</div>

<!-------------Last Footer------------------>
<div class="row bg-dark" style="height: 50px;">

</div>