<div class="container-fluid">
    <div class="row">
        <div class="BrandBox col-lg-6 col-sm-12">
            <div class="PixelsTalk">
                WE <br>
                MAKE <br>
                PIXELS <br>
                TALK <br>
            </div>
            <div class="BuildBrand">
                <div class="BrandText">
                    BUILD YOUR BRAND
                </div>
                <div class="BrandTriangle">
                </div>
            </div>
        </div>

        <div class="BrandBox col-lg-6 col-sm-12" style="background-color:black">
            <app-slider-bar></app-slider-bar>
        </div>
</div>