* {
    margin: 0;
    padding: 0;
}
.main_div {
    height: 330px;
    background-color: #fcdd15;
}

.team {
    width: 250px;
    height: 300px;
    margin:0 auto;
    padding-top: 100px;
    opacity: 98%;
    font-size: 6rem;
    font-weight: bold;
}

.contain {
    background-color: white;
    min-height: 490px;
}

.txt {
    font-size: 40px;
    font-weight: bold;
}

.hrh {
    height: 4px;
    width: 100px;
    margin: 0 auto;
    background-color: black;
}