<app-nav-bar></app-nav-bar>
<div class="container-fluid sty">
</div>

<div class="row" style="height: 600px; margin: 0;margin-top: 30px; background-color: blueviolet;">
    <div class="col-5" style="margin: 0;">
        <div>
            Arabian Resturant
            <div>
                Logo design - Russia
            </div>
            <hr/>
            <button class="btn btn-primary">VIEW PROJECT</button>
        </div>
    </div>

    <div class="col-7 bg-dark">
      <app-project-slider></app-project-slider>
    </div>

</div>

<div class="row build_brand">
    <div class="col col_brand">
        <div class="BuildBrandBig">
            <div class="BrandTextBig">
                BUILD YOUR BRAND
            </div>
            <div class="BrandTriangleBig">
            </div>
        </div>
        <div class="make_pixel">
            Let us make the pixels talk for you!
        </div>
        <div class="make_pixel line_w">
            <hr class="line_style">
        </div>
    </div>
</div>

<div class="container-fluid" style="min-height: 100px;">
    <app-contact></app-contact>
</div>
