<app-nav-bar></app-nav-bar>
<div class="container-fluid sty">
</div>

<div class="row" style="height: 600px; margin: 0;margin-top: 30px; background-color: blueviolet;">
    <div class="col-5" style="margin: 0;">
        <div>
            Arabian Resturant
            <div>
                Logo design - Russia
            </div>
            <hr/>
            <button class="btn btn-primary">VIEW PROJECT</button>
        </div>
    </div>

    <div class="col-7 bg-dark">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active circle"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1" class="circle"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2" class="circle"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3" class="circle"></li>

        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 img_item" [src]=img alt="First slide">
          </div>
          <div class="carousel-item" *ngFor = "let x of images" >
            <img class="d-block w-100 img_item" [src]=x alt="Second slide">
          </div>
        </div>
      </div>
    </div>

</div>

<div class="row build_brand">
    <div class="col col_brand">
        <div class="BuildBrandBig">
            <div class="BrandTextBig">
                BUILD YOUR BRAND
            </div>
            <div class="BrandTriangleBig">
            </div>
        </div>
        <div class="make_pixel">
            Let us make the pixels talk for you!
        </div>
        <div class="make_pixel line_w">
            <hr class="line_style">
        </div>
    </div>
</div>

<div class="container-fluid" style="height: 100px;">

</div>