<app-nav-bar></app-nav-bar>
<div class="container-fluid sty">
</div>

<div class="row" style="height: 550px; margin: 0; margin-top: 30px;">
    <div class="col-5">
        <div class="p_just">
            <div class="just">
                <div class="tilte">Arabian Resturant</div>
                <div class="desc">
                    Logo design - Russia
                </div>
                <hr class="line" />
            </div>
            <div class="btnview">
                <a href="#" class="view_link">VIEW PROJECT</a>
            </div>
        </div>
    </div>

    <div class="col-7 bg-dark">
      <app-project-slider></app-project-slider>
    </div>
</div>

<div class="row" style="height: 550px; margin: 0;">
    <div class="col-5 bg-dark">
      <app-project-slider></app-project-slider>
    </div>

    <div class="col-7">
        <div class="p_just">
            <div class="just">
                <div class="tilte">Ghada Bin Sultan</div>
                <div class="desc">
                    Personal Brand - KSA
                </div>
                <hr class="line" />
            </div>
            <div class="btnview">
                <a href="#" class="view_link">VIEW PROJECT</a>
            </div>
        </div>
    </div>
</div>

<div class="row" style="height: 550px; margin: 0;">
    <div class="col-5">
        <div class="p_just">
            <div class="just">
                <div class="tilte">SSA University of Denver</div>
                <div class="desc">
                    Logo Design - USA
                </div>
                <hr class="line" />
            </div>
            <div class="btnview">
                <a href="#" class="view_link">VIEW PROJECT</a>
            </div>
        </div>
    </div>

    <div class="col-7 bg-dark">
      <app-project-slider></app-project-slider>
    </div>
</div>

<div class="row build_brand">
    <div class="col col_brand">
        <div class="BuildBrandBig">
            <div class="BrandTextBig">
                BUILD YOUR BRAND
            </div>
            <div class="BrandTriangleBig">
            </div>
        </div>
        <div class="make_pixel">
            Let us make the pixels talk for you!
        </div>
        <div class="make_pixel line_w">
            <hr class="line_style">
        </div>
    </div>
</div>

<div class="container-fluid" style="min-height: 100px;">
    <app-contact></app-contact>
</div>
