<div class="container-fluid">
    <div class="row">
        <div class="BrandBox col-lg-6 col-sm-12">
            <div class="PixelsTalk">
                WE <br>
                MAKE <br>
                PIXELS <br>
                TALK <br>
            </div>
            <div class="BuildBrand">
                <div class="BrandText">
                    BUILD YOUR BRAND
                </div>
                <div class="BrandTriangle">
                </div>
            </div>
        </div>

        <div class="BrandBox col-lg-6 col-sm-12" style="background-color:black">
            <app-slider-bar></app-slider-bar>
        </div>
</div>

<!-----------------Specific Profile------------------->
<div class="row">
    <div class="col-lg-6 col-sm-12 heading">
        <div class="second_sec">
            <span class="name_sec">MAZEN ALSAWAF</span> <br>
            <span class="name_sec des_sec">YOUTEBER AND CONTENT MAKER</span>
        </div>
        <div class="second_sec">
            "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat nemo non aut veritatis dolores voluptatem vel totam. Quia, blanditiis ipsam magni, voluptas vitae suscipit eius numquam vel impedit dignissimos aspernatur. 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus temporibus iusto quod enim nobis repellendus saepe laudantium nemo dolor vel totam assumenda, quis fugit unde architecto distinctio tempora sit? Illum."
        </div>
    </div>
    <div class="col-lg-6 col-sm-12 heading">
        <div class="second_sec div_img_sec">
            <img [src]= picture class="img_sec">
        </div>
    </div>
</div>

<!---------------------Profiles------------------------->
<div id="carouselExampleControls" class="carousel slide row" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <div class="row">
            <div class="col-2 text-center c_item" *ngFor="let x of donex(0)">
                <img [src] = x.image class="img_st">
            </div>
          </div>
      </div>

      <div class="carousel-item" *ngFor = "let i of elementsx">
        <div class="row">
          <div class="col-2 text-center c_item" *ngFor="let j of donex(i.id)">
            <img [src] = j.image class="img_st">
          </div>
        </div>
    </div>
    </div>
    <a class="carousel-control-prev right" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next right" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-------------Projects---------------->
  <div class="row pr">
    <div class="col-md-4 col-sm-12 img_block" 
    *ngFor = "let i of getAllProjects()" 
    style="background-image:url('{{i.image}}');">
        <div class="row left_st">
            <div class="col-2">
                <div style="background-color: yellow; width: 45px; height: 45px;">

                </div>
            </div>
            <div class="col-10">
               <span style="color: white;">Project title</span>
               <p style="color: white;">Project Description...</p>
            </div>
        </div>
    </div>
  </div>

<!---------------Services------------------------>

<div class="services">
    <div class="row">
        <div class="col" *ngFor= "let i of services1">
            <div class="service_block">
                <div style="width: 100%; height: 80%">
                    <img [src]=i.image style="width: 100%; height: 100%">
                </div>
                 <hr class="services_line"/>
                 <span>{{i.name}}</span>
            </div>
         </div>
    </div>
</div>

<div class="services" style="width: 80%; margin-top: 75px;">
    <div class="row">
        <div class="col" *ngFor= "let i of services2">
            <div class="service_block service_block2">
                <div style="width: 100%; height: 80%">
                    <img [src]=i.image style="width: 100%; height: 100%">
                </div>
                 <hr class="services_line"/>
                 <span>{{i.name}}</span>
            </div>
         </div>
    </div>
</div>

<!------------------Build Your App ------------------->
<div class="row build_brand">
    <div class="col col_brand">
        <div class="BuildBrandBig">
            <div class="BrandTextBig">
                BUILD YOUR BRAND
            </div>
            <div class="BrandTriangleBig">
            </div>
        </div>
        <div class="make_pixel">
            Let us make the pixels talk for you!
        </div>
        <div class="make_pixel line_w">
            <hr class="line_style">
        </div>
    </div>
</div>


<!------------------Contact------------------->

<app-contact></app-contact>

<!-------------Last Contact------------------>

<app-footer></app-footer>

<app-nav-bar></app-nav-bar>

<div style="z-index: 10; position: absolute; right: 20px; bottom: 20px;">
    <a (click) = "upd()" class="btn btn-primary" style="background-image: url('assets/images/rowup.png')">^</a>
</div>
