<div class="container-fluid">
    <div class="row">
        <div class="BrandBox col-lg-6 col-sm-12">
            <div class="PixelsTalk">
                WE <br>
                MAKE <br>
                PIXELS <br>
                TALK <br>
            </div>
            <div class="BuildBrand">
                <div class="BrandText">
                    BUILD YOUR BRAND
                </div>
                <div class="BrandTriangle">
                </div>
            </div>
        </div>

        <div class="BrandBox col-lg-6 col-sm-12" style="background-color:black">
            <app-slider-bar></app-slider-bar>
        </div>
</div>

<!-----------------Specific Profile------------------->

<!---------------------Profiles------------------------->

<app-profiles></app-profiles>

<!---------------Services------------------------>

<app-services></app-services>

<!------------------Build Your App ------------------->
<div class="row build_brand">
    <div class="col col_brand">
        <div class="BuildBrandBig">
            <div class="BrandTextBig">
                BUILD YOUR BRAND
            </div>
            <div class="BrandTriangleBig">
            </div>
        </div>
        <div class="make_pixel">
            Let us make the pixels talk for you!
        </div>
        <div class="make_pixel line_w">
            <hr class="line_style">
        </div>
    </div>
</div>
<!------------------Contact------------------->

<app-contact></app-contact>

<!-------------Last Contact------------------>


<app-nav-bar></app-nav-bar>

<div style="z-index: 10; position: absolute; right: 20px; bottom: 20px;">
    <a (click) = "upd()" class="btn btn-primary" style="background-image: url('assets/images/rowup.png')">^</a>
</div>
