*{
    padding: 0;
    margin: 0;
    background-size: cover;

}

.sty {
    height: 70px;
    background-color: #fcdd15;
}

.header_div {
   height: 550px;
}

.header_box {
    width: 400px;
    height: 220px;
    margin: 0px auto;
    padding-top: 190px;
}

.title {
   font-size: 2.5rem;
   font-weight: bold;
   text-align: center;
   color: white;
}

.under_title {
   font-size: 1.5rem;
   text-align: center;
   color: white;
}

.line {
    width: 120px;
    margin: 40px auto;
    height: 5px;
    background-color: #fcdd15;
    border: none;
}

.second_div {
    background-color: orange;
    min-height: 600px;
}

.s_left {
    background-color: red;
}

.s_up_right {
    height: 50%;
    width: 100%;
    background-size: 600px 320px;
}
.s_down_right {
    height: 50%;
    width: 100%;
    background-size: 600px 320px;
}

.about {
    min-height: 350px;
     background-color: white;
}

.orange_div {
    width: 120px;
    height: 80px;
    background-color: orange;
    margin-top: 20px;
}

.title_sty {
    font-size: x-large;
    font-weight: bold;
}

.title_under_sty {
    font-size: large;
}

.text_div {
    opacity: 90%;
    line-height: 30px;
    font-weight: bold;
}

.padding_top {
    margin-top: 15px;
}

.padding_right {
    padding-left: 20px;
    padding-right: 100px;
}

.last_div {
    height: 600px;
}

.f_part {
    background-color: blanchedalmond;
    height: 290px;
    width: 95%;
}

.s_part {
    background-color: blue;
    height: 290px;
    margin-top: 20px;
    width: 95%;
}


.l_part {
    background-color: blueviolet;
    height: 100%;
}

.last_last_div {
    height: 700px;
    margin-top: 10px;
    background-color: springgreen;
}

.hght {
    height: 500px;
    background-color: orchid;
}

.lst_top {
    background-color: pink;
    height: 250px;
}

.build_brand {
    background-color: #fcdd15;
    margin-top: 0px;
}

.BrandBox {
    background-color: #fcdd15;
    min-height: 650px;
    padding: 0;
}

.col_brand {
    height : 300px;
    position: relative;
}

.BuildBrandBig {
    background-color: black;
    color: white;
    text-align: center;
    width: 420px;
    height: 70px;
    cursor: pointer;
    border-radius: 1px;
    margin: 50px auto
}

.BrandTextBig {
    line-height: 70px;
    font-size: x-large;
}

.BrandTriangleBig {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 80px 30px 0;
    border-color: transparent white transparent transparent;
}

.make_pixel {
    margin: 0 auto;
    width: 370px;
    font-size: x-large;
}

.line_style {
    height: 3px; background-color: black;
}

.line_w {
    width: 130px;
    margin-top: 3px;
}

.right_text {
    width: 90%;
     display: block;
     float: right;
}

.left_text {
    width: 10%;
    display: block;
    float: left;
}

.p_orange_part {
    min-height: 350px;
    display: block;
    float: left;
    width: 20%;
}

.orange_part {
    width: 50%;
    height: 70px;
    padding-top: 30px;
    background-color: orange;
    margin-top: 20px;
    float: left;
}

.font_sty_ornage {
    display: block;
    float: right;
    width: 50%;
    margin-top: 20px;
    font-size: 23px;
    text-align: center;
    font-weight: bold;
} 

.weight {
    width: 100%;
    text-align: center;
}

.p_s_part {
    width: 80%;
    min-height: 350px;
    display: block;
    float: right;
}

@media (max-width: 1086px) {
    .p_orange_part {
        width: 30%;
    }

    .p_s_part {
        width: 70%;
    }
}

@media (max-width: 811px) {
    .p_orange_part {
        width: 40%;
    }

    .p_s_part {
        width: 60%;
    }
}

@media (max-width: 796px) {
    .padding_right {
        padding-left: 20px;
        padding-right: 0px;
    }

    .right_text {
        width: 80%;
         display: block;
         float: right;
    }
    
    .left_text {
        width: 20%;
        display: block;
        float: left;
    }

    .text_div {
        font-size: 12px;
    }

    .last_div {
        height: 500px;
    }

    .f_part {
        background-color: blanchedalmond;
        height: 245px;
        width: 95%;
    }
    
    .s_part {
        background-color: blue;
        height: 245px;
        margin-top: 10px;
        width: 95%;
    }

    .last_last_div {
        height: 550px;
        margin-top: 15px;
        background-color: springgreen;
    }
    
}

@media (max-width: 579px) {
   .p_orange_part {
        width: 50%;
    }

    .p_s_part {
        width: 50%;
    }

    .weight {
        width: 100%;
        text-align: right;
    }
}

@media (max-width: 508px) {
    .text_div {
        font-size: 12px;
        line-height: 20px;
    }
    .last_div {
        height: 400px;
    }
    .f_part {
        background-color: blanchedalmond;
        height: 195px;
        width: 95%;
    }
    
    .s_part {
        background-color: blue;
        height: 195px;
        margin-top: 10px;
        width: 95%;
    }

    .last_last_div {
        height: 500px;
        margin-top: 10px;
        background-color: springgreen;
    }
    
}


