<app-nav-bar></app-nav-bar>
<div class="container-fluid sty">
</div>

<div class="container-fluid" style="height: 600px;">
    <div>
        Ghada Bin Sultan
    </div>
    <div>
        Personal Brand - KSA
    </div>
    <hr>
</div>

<div class="container-fluid" style="background-color: orange; min-height: 400px;">
    second photo
</div>

<div class="container-fluid" style="min-height: 350px; background-color: orchid;">
    <div class="row">
        <div class="col-lg-1">
            <div style="width: 120px; height: 80px; background-color: orange; margin-top: 20px;">

            </div>
        </div>
        <div class="col-lg-11">
            <div style="margin-left: 30px">
                <div>
                    Ghada Bin Sultan
                </div>
                <div>
                    Personal Brand - KSA
                </div>
                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto iure sed quis, praesentium vero repellat voluptate odio, ab dolores aperiam ipsum odit tempora! Eligendi saepe inventore error modi, ex dicta!
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">

    images contents

</div>

<div class="container-fluid">
    images contents 2
</div>

<div class="container-fluid" style="min-height: 350px; background-color: orchid;">
    <div class="row">
        <div class="col-lg-1">
            <div style="width: 120px; height: 80px; background-color: orange; margin-top: 20px;">

            </div>
        </div>
        <div class="col-lg-11">
            <div style="margin-left: 30px">
                <div>
                    Ghada Bin Sultan
                </div>
                <div>
                    Personal Brand - KSA
                </div>
                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto iure sed quis, praesentium vero repellat voluptate odio, ab dolores aperiam ipsum odit tempora! Eligendi saepe inventore error modi, ex dicta!
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row build_brand">
    <div class="col col_brand">
        <div class="BuildBrandBig">
            <div class="BrandTextBig">
                BUILD YOUR BRAND
            </div>
            <div class="BrandTriangleBig">
            </div>
        </div>
        <div class="make_pixel">
            Let us make the pixels talk for you!
        </div>
        <div class="make_pixel line_w">
            <hr class="line_style">
        </div>
    </div>
</div>

<div class="container-fluid" style="min-height: 100px;">
    <app-contact></app-contact>
</div>
