<app-nav-bar-team></app-nav-bar-team>
<div class="container-fluid sty">
</div>

<div class="container-fluid header_div">
    <div class="header_box">
        <div class="title">
            Ghada Bin Sultan
        </div>
        <div class="under_title">
            Personal Brand - KSA
        </div>
        <hr class="line">
    </div>
</div>

<div class="row second_div">
    <div class="col-8 s_left">
        Loading...
    </div>
    <div class="col-4">
        <div class="s_up_right">
            Loading...
        </div>
        <div class="s_down_right">
            Loading...
        </div>
    </div>
</div>

<div class="container-fluid about">
    <div class="row">
        <div class="col-lg-1">
            <div class="orange_div">

            </div>
        </div>
        <div class="col-lg-11">
            <div style="margin-left: 30px">
                <div class="title_sty">
                    Ghada Bin Sultan
                </div>
                <div class="title_under_sty">
                    Personal Brand - KSA
                </div>
                <div class="text_div">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                    ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
                    exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis
                    autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
                    dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid last_div">
    <div class="row">
        <div class="col-4">
           <div class="f_part">
               Loading Image ...
           </div>
           <div class="s_part">
               Loading Image...
           </div>
        </div>
        <div class="col-8">
            <div class="l_part">
                Loading Image ...
            </div>
        </div>
    </div>

</div>

<div class="container-fluid last_last_div">
    Image Loading ...
</div>

<div class="container-fluid" style="min-height: 350px;">
    <div class="row">
        <div class="col-lg-3">
            <div style="width: 100%; height: 80px;">
                <div class="row">
                    <div class="col" style="width: 200px; height: 80px; background-color: orange; margin-top: 20px;">
                    </div>
                    <div class="col" style="margin-top: 20px; margin-left: 20px; font-size: x-large; font-weight: bold;">
                        Primary Font
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-9">
            <div style="margin-left: 30px">
                <div>
                    Jaguar JC
                </div>
                    <div class="row">
                        <div class="col">
                            <table>
                                <tr *ngFor = "let x of xs" >
                                    <td *ngFor = "let y of x"  style="width: 30px; font-size: medium;">
                                        {{y}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col">
                            bold
                        </div>
                    </div>

                    <div class="row" style="margin-top: 30px;">
                        <div class="col">
                            <table>
                                <tr *ngFor = "let x of xs" >
                                    <td *ngFor = "let y of x"  style="width: 30px; font-size: medium;">
                                        {{y}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col">
                            Light
                        </div>
                    </div>

                    <div class="row" style="margin-top: 30px;">
                        <div class="col">
                            <table>
                                <tr *ngFor = "let x of digits" >
                                    <td *ngFor = "let y of x"  style="width: 36px; font-size: medium;">
                                        {{y}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col">
                            Figures
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row hght">
        <div class="col" style="background-color: black;">
            <span style="color: white;">first</span>
        </div>
        <div class="col" style="background-color: white;">
            second
        </div>
        <div class="col">
            <div class="lst_top">

            </div>
            <div class="lst_top" style="background-color: red;">

            </div>
        </div>
    </div>
</div>


<div class="row build_brand">
    <div class="col col_brand">
        <div class="BuildBrandBig">
            <div class="BrandTextBig">
                BUILD YOUR BRAND
            </div>
            <div class="BrandTriangleBig">
            </div>
        </div>
        <div class="make_pixel">
            Let us make the pixels talk for you!
        </div>
        <div class="make_pixel line_w">
            <hr class="line_style">
        </div>
    </div>
</div>

<div class="container-fluid" style="min-height: 100px;">
    <app-contact></app-contact>
</div>
