*{
    padding: 0;
    margin: 0;
}

.sty {
    height: 70px;
    background-color: #fcdd15;
}

.header_div {
   height: 500px;
   background-color: black;
   opacity: 50%;
}

.header_box {
    width: 400px;
    height: 220px;
    margin: 0px auto;
    padding-top: 190px;
}

.title {
   font-size: 2.5rem;
   font-weight: bold;
   text-align: center;
   color: white;
}

.under_title {
   font-size: 1.5rem;
   text-align: center;
   color: white;
}

.line {
    width: 120px;
    margin: 40px auto;
    height: 5px;
    background-color: #fcdd15;
    border: none;
}

.second_div {
    background-color: orange;
    min-height: 600px;
}

.s_left {
    background-color: red;
}

.s_up_right {
    height: 50%;
    width: 100%;
    background-color: rosybrown;
}

.s_down_right {
    height: 50%;
    width: 100%;
    background-color: lightcoral;
}

.about {
    min-height: 350px;
     background-color: white;
}

.orange_div {
    width: 120px;
    height: 80px;
    background-color: orange;
    margin-top: 20px;
}

.title_sty {
    font-size: x-large;
    font-weight: bold;
    padding-top: 20px;
}

.title_under_sty {
    font-size: large;
}

.text_div {
    padding: 20px;
    padding-right: 200px;
    opacity: 90%;
    line-height: 30px;
}

.build_brand {
    background-color: #fcdd15;
    margin-top: 0px;
}

.BrandBox {
    background-color: #fcdd15;
    min-height: 650px;
    padding: 0;
}

.col_brand {
    height : 300px;
    position: relative;
}

.BuildBrandBig {
    background-color: black;
    color: white;
    text-align: center;
    width: 420px;
    height: 70px;
    cursor: pointer;
    border-radius: 1px;
    margin: 50px auto
}

.BrandTextBig {
    line-height: 70px;
    font-size: x-large;
}

.BrandTriangleBig {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 80px 30px 0;
    border-color: transparent white transparent transparent;
}

.make_pixel {
    margin: 0 auto;
    width: 370px;
    font-size: x-large;
}

.line_style {
    height: 3px; background-color: black;
}

.line_w {
    width: 130px;
    margin-top: 3px;
}