*{
    margin: 0;
    padding: 0;
}
.services {
    min-width: 450px;
    width: 75%; margin: 0 auto;
    height: 100px;
    margin-top: 75px;
    margin-bottom: 100px;
}

.service_block {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}

.service_block > hr {
    transition: 0.5s;
}

.services_line {
    width: 40%;
    background-color: #fcdd15;
    opacity: 4px; height: 2px;
    margin: 0px auto;
    margin-top: 20px;
    border-width: 0px;
}

.service_block2 {
    width: 120px;
    height: 120px;
}

.service_block:hover > hr {
    width: 60%;
    transition: 0.25s;
}


.plus {
    width: 100%;
    margin-top: 150px;
}

@media (max-width: 992px) {
    .plus {
         margin-top: 120px;
    }
    .service_block {
        width: 90px;
        height: 90px;
        font-size: 12px;
        font-weight: bold;
    }

    .service_block2 {
        width: 90px;
        height: 90px;
    }
}

@media (max-width: 778px) {
    .plus {
        margin-top:75px;
   }
    .service_block {
        width: 70px;
        height: 70px;
        font-size: 12px;
        font-weight: bold;
    }

    .service_block2 {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 576px) {
    .services {
        min-width: 250px;
        width: 75%;
        margin: 0 auto;
        height: 100px;
        margin-top: 50px;
    }
    .plus {
        width: 100%;
        margin-bottom: 50px;
    }
    .service_block {
        width: 50px;
        height: 50px;
        font-size: 8px;
        font-weight: bold;
    }

    .service_block2 {
        width: 50px;
        height: 50px;
    }
}